<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/apk/res-auto"
    package="com.example.devov.historyapp">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Demo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.example.devov.historyapp.imageload.SimpleGlideModule"
            android:value="GlideModule" />

        <activity android:name=".SplashActivity">
        <!--android:excludeFromRecents="true"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.PhotoWallActivity"/>
        <activity android:name=".activity.DetailsActivity"
            android:hardwareAccelerated="false"
            />
        <activity android:name=".activity.NewsActivity" />
        <activity android:name=".activity.QrActivity" />
        <activity android:name=".activity.PhotoDetailsActivity"/>
        <activity android:name=".activity.JSActivity"/>
        <activity android:name=".MainActivity" />

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ScanActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />


        <activity android:name=".test.TestActivity"/>
        <activity android:name=".activity.FlexboxActivity"/>
        <activity android:name=".test.ThirdActivity"/>
        <activity android:name=".test.result.T4Activity"/>

        <activity android:name=".kotlin.recycler.KotlinActivity"/>
        <activity android:name=".test.KotlinTestActivity"/>
        <activity android:name=".test.result.T6Activity"/>


    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


</manifest>